{% extends "layout.html" %}

    {% block title %}
        {{titulo}}
    {% endblock %}
    {% block content %}

    <br>
    <div class="nosotros">
        <h1>SOMOS TU MEJOR OPCION</h1>
        <hr>
        <img src="{{ url_for('static', filename='icon/leon.png') }}" alt="cleon" width="30%">
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid contenido">
        <div class="row">
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/compromiso.jpg') }}" alt="casaAras">
                </div>
            </div>
            <div class="col-md-6">
                <div class="parrrafo_titulo">
                    <h1>NUESTRO COMPROMISO</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <p>Mejorar la experiencia del cliente
                        involucrandolo en el proceso de ejecucion de su proyecto.</p>
                    <div class="parrafo_cuerpo_puntos">
                        <p><strong>Nos comprometemos:</strong></p>
                        <p>A trabajar de acuerdo a las normas de contruccion.</p>
                        <p>Utilizar materiales de calidad.</p>
                        <p>Seriedad y formalidad.</p>
                        <p>Procurar el medio ambiente</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="parrrafo_titulo">
                    <h1>POR QUE NOSOTROS</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <p>No enfocamos en las necesidades del cliente para poder comprender lo 
                        requerido y en base a las mismas realizar una propuesta que cubra todos
                        los aspectos indicados. Esta propuesta busca inovar y hacer uso 
                        correcto de los espacios de acuerdo a la propuestas del cliente.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/carpinteros.jpg') }}" alt="casaAras">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/concretos.jpg') }}" alt="casaAras">
                </div>
            </div>
            <div class="col-md-6">
                <div class="parrrafo_titulo">
                    <h1>LO QUE HACEMOS</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <p>En <strong>CONSTRUCTORA LEON</strong> nos encargamos de volver tus sueños realidad.</p>
                    <p>Tenemos como objetivo principal la edificacion de infraestructura 
                        de calidad garantizandote que se cumplan con las condiciones solicitadas
                        de acuerdo a tus indicaciones.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="parrrafo_titulo">
                    <h1>NUESTROS LOGROS</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <p>Buscamos ser una de las mejores constructoras del pais, para lograr 
                        este obetivo ofrecemos la ejecucion de sus proyectos en tiempo y forma
                        cubriendo las necesidadesde nuestros clientes.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/logros.jpg') }}" alt="casaAras">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}