{% extends "layout.html" %}

    {% block title %}
        {{titulo}}
    {% endblock %}
    {% block content %}

    <br>
    <div class="nosotros">
        <h1>Profesionales compremetidos con tus obras</h1>
        <hr>
        <img src="{{ url_for('static', filename='icon/leon.png') }}" alt="cleon" width="30%">
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid contenido">
        <div class="row">
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/casaazularas.jpg') }}" alt="casaAras">
                </div>
            </div>
            <div class="col-md-6">
                <div class="parrrafo_titulo">
                    <h1>OBRA PPRIVADA</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <p>Nos especializamos en el diseño y desarrollo de infraestructura del sector privado.</p>
                    <div class="parrafo_cuerpo_puntos">
                        <p>Cubriendo los siguientes aspectos:</p>
                        <p>Planeacion.</p>
                        <p>Visualizacion.</p>
                        <p>Creatividad.</p>
                        <p>Seguridad.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6 parrafo">
                <div class="parrrafo_titulo">
                    <h1>VIVIENDA</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <h3>RESIDENCIAL</h3>
                    <p>Se presentan propuestas de acuerdo a las necesidades detectadas
                        para de esta manera poder llevar a cabo la realizacion de los proyectos
                        de nuestros clientes.
                    </p>
                    <h3>MODULOS EN SERIE</h3>
                    <p>Se realizan proyectos de infraestructura para la elaboracion de
                        fraccionamientos asi como unidades habitacionales de acuerdo a las
                        especificaciones solicitadas.
                    </p>
                    <h3>REMODELACIONES</h3>
                    <p>Se reliza todo tido de modificaciones indicadas por el cliente
                        para cubrir las necesidades requeridas.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/c33_barandal.jpg') }}" alt="casaAras">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/corte.jpg') }}" alt="casaAras">
                </div>
            </div>
            <div class="col-md-6">
                <div class="parrrafo_titulo">
                    <h1>DISEÑOS ARQUITECTONICOS</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <h3>PROYECTOS EJECUTIVOS</h3>
                    <p>Elaboramos la propuesta de las necesidades obtenidas por parte del 
                        cliente y en base a la misma buscamos la solucion a todas las
                        necesidades recabadas.</p>
                    <H3>LICENCIAS DE CONSTRUCCION</H3>
                    <P>Nos encargamos de obtener todos los permisos necesarios para la
                        ejecucion del proyecto que nuestros clientes nos confian y asi de
                        esta manera entregar en los tiempos establecidos.</P>
                </div>                
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="parrrafo_titulo">
                    <h1>OFICINA</h1>
                    <hr>
                </div>
                <div class="parrafo_cuerpo">
                    <h3>REMODELACIONES</h3>
                    <p>Elaboramos un plan de trabajo para llevar acabo las remodelaciones 
                        solicitadas y asi de esta manera tratar de interferir el menor tiempo
                        posible en las actividades diarias de las oficinas.</p>
                    <h3>LIMPIEZA Y MANTENIMIENTO</h3>
                    <p>Contamos con el personal indicado para llevar acabo la limpieza Y
                        mantenimiento de las oficinas para mantener un lugar de trabajo agradable
                        y en las mejores condiciones.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_info">
                    <img class="imgen" src="{{ url_for('static', filename='image/limpieza.jpg') }}" alt="casaAras">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    {% endblock %}