{% extends "layout.html" %}

    {% block title %}
        {{titulo}}
    {% endblock %}
    {% block content %}

    <br>
    <div class="nosotros">
        <h1>LO QUE OFRECEMOS</h1>
        <img src="{{ url_for('static', filename='image/cleon.png') }}" alt="cleon" width="30%">
    </div>
    <div class="container">
        <div class="row">
            <div class="offset-md-6 col-md-6">
                <h1>OBRA PPRIVADA</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, excepturi voluptate accusamus eos facilis veritatis in quidem, natus animi nesciunt facere similique voluptatibus quia! Dicta id dignissimos non totam dolore.</p>
            </div>
            <div class="col-md-6">
                <h1>VIVIENDA</h1>
                <h3>RESIDENCIAL</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, excepturi voluptate accusamus eos facilis veritatis in quidem, natus animi nesciunt facere similique voluptatibus quia! Dicta id dignissimos non totam dolore.</p>
                <h3>MODULOS EN SERIE</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, excepturi voluptate accusamus eos facilis veritatis in quidem, natus animi nesciunt facere similique voluptatibus quia! Dicta id dignissimos non totam dolore.</p>
                <h3>REMODELACIONES</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vero quos modi consectetur labore in aliquid similique, nulla ullam, ipsam rerum dolorem inventore soluta cupiditate, exercitationem amet asperiores animi eligendi.</p>
            </div>
            <div class="offset-md-6 col-md-6">
                <h1>DISEÑOS ARQUITECTONICOS</h1>
                <h3>PROYECTOS EJECUTIVOS</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, excepturi voluptate accusamus eos facilis veritatis in quidem, natus animi nesciunt facere similique voluptatibus quia! Dicta id dignissimos non totam dolore.</p>
                <H3>LICENCIAS DE CONSTRUCCION</H3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis commodi nemo magni rem laudantium magnam. Obcaecati dicta omnis quod distinctio cumque sed dolor, totam sequi unde delectus iure dignissimos quas.</P>
            </div>
            <div class="col-md-6">
                <h1>OFICINA</h1>
                <h3>REMODELACIONES</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, excepturi voluptate accusamus eos facilis veritatis in quidem, natus animi nesciunt facere similique voluptatibus quia! Dicta id dignissimos non totam dolore.</p>
                <h3>LIMPIEZA Y MANTENIMIENTO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, reprehenderit. Deleniti placeat quo veniam quam. Earum, quasi corporis mollitia doloremque quo aperiam distinctio qui illum rem commodi et incidunt exercitationem!</p>
            </div>
        </div>
    </div>

    {% endblock %}